<!-- templates/accounts/dashboard.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'accounts/styles.css' %}">
</head>
<body>
        <!-- hidden inut to update  location. -->
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div class="container">
        <div class="menu-options">
            <h2>Menu Options</h2>
            <ul>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Hire a Trainer</a></li>
                <li><a href="#">Payment</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="profile-section">
            {% include 'accounts/profile.html' %}
            {% include 'accounts/location_form.html' %}
        </div>
    </div>
</body>
</html>
